.card-box {
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 2px rgb(192, 192, 192);
  margin: 10px 0;
  flex-wrap: wrap;
}

.card-box h2 {
  margin: 5px;
  color: rgb(20, 20, 20);
}

.card-icon {
  color: #42B2C8;
  padding: 10px;
  height: 30px;
  width: 30px;
}

.card-text {
  padding: 6px 10px 10px 2px;
}

.card-content {
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  .card-content {
    padding: 10px;
  }
}
